* {
    font-family: Arial, Helvetica, sans-serif;

}



html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 234, 137); 
    height: 100dvh;
}

body {

    display:grid;
    grid-template-areas:
    "title title open"
    "beats beats beats"
    "scrub scrub scrub"
    "previous playpause next"
    "volume volume tumo";
    grid-template-rows: 64px auto 32px auto 32px ;
    grid-template-columns: 33% auto 33%;
    background-color: rgb(252, 178, 128);
    width: 600px;
    height: 600px;
    border-radius: 50px;
    overflow:hidden;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
button:active {
    scale: 0.9;
}

#title {
   color: rgb(255, 255, 255);
   margin: 0px;
   grid-area: title;
   font-size: 48px;
}

#open-input {
    grid-area: open;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#file-input {
    position:absolute;
    opacity: 0;
    inset: 0;
}
   
#Beats {
    grid-area: beats;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scrub-input {
    display: flex;
    grid-area: scrub ;
    position: relative;
}

#previous-button {
    grid-area: previous;
}

#play-button {
    grid-area: playpause;
}

#icon-play {

}

#icon-pause {
    display: none;
}

#next-button {
    grid-area: next;
}

#volume-input {
    display: flex;
    grid-area: volume;
    position: relative;
}

#tumo {
    grid-area: tumo;
}

.range-bar {
    position: absolute;
    inset: 0;
    background-color: white;
    pointer-events: none;
    transform: scaleX(0.5);
    transform-origin: left;
}

.range-bar {
    position: absolute;
    inset: 0;
    background-color: white;
}

input[type="range"] {
    flex: 1;
    opacity: 0.5;
}